@page "/navtest"

<PageTitle>Navigation Menu Test</PageTitle>

<h1>Test the Navigation Menu</h1>

<p>Use this page to test the collapsible navigation menu.</p>

<p>When you visit this page or any subpage, the corresponding section in the menu should be automatically expanded.</p>
